  <div fxFill="100%" fxLayout="row">
    <md-input-container fxFlex="20">
      <input type="text" mdInput placeholder="ID" [(ngModel)]="item.id" />
    </md-input-container>
    <md-input-container fxFlex="30">
      <input type="text" mdInput placeholder="Name" [(ngModel)]="item.name" />
    </md-input-container>
    <md-input-container fxFlex="40">
      <input type="text" mdInput placeholder="Description" [(ngModel)]="item.description" />
    </md-input-container>
    <md-input-container fxFlex="10">
      <input type="number" mdInput placeholder="Inventory" [(ngModel)]="item.currentInventory" />
    </md-input-container>
  </div>

